body {
  font-family: sans-serif;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkolivegreen;
  border-radius: 1rem;
  color: #ffffff;
  cursor: pointer;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  border: 0;
}
